#background{
    background-color: #f6f9fa;
    height: 1200px;
    width: 100%;
}


#pozadinaKataloga{
    position: absolute;
    height: 600px;
    width: 80%;
    height: 500px;
    left: 10%;
    padding-top: 40px; 
}

#zaglavlje{
    background-color: #f1f1f1;
    position: absolute;
    top: 1100px;
    width: 100%;
}


#proba{
    position: absolute;
    top: 150px;
    left: 10%;
    width: 80%;
}
